<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top header-content">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                    <li>@Html.ActionLink("Беседы", "Index", "Conversation")</li>
                    <li>@Html.ActionLink("Новости", "News", "Home")</li>
                </ul>

                @{
                    bool isAuth = FreeForum.Helpers.AuthHelper.IsAuthenticated(Context);
                    bool isAdmin = FreeForum.Helpers.AuthHelper.IsAdmin(Context);
                }
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink(isAuth?"Выйти":"Вход", (isAuth)?"LogOut":"LogIn", "Account")</li>
                    @if (!isAuth)
                    {
                        <li>@Html.ActionLink("Регистрация", "Registration", "Account")</li>
                    }

                    @if (isAuth && isAdmin)
                    {
                        <li>@Html.ActionLink("Все пользователи", "Database", "Home")</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p> SSharyk © @DateTime.Now.Year</p>
        </footer>
    </div>

</body>
</html>