@model FreeForum.Subject

@{
    ViewBag.Title = "Read";
}

@helper RenderMessages(FreeForum.Message message, int level)
{
    int margin = (level * 5) + 2;

    <div class="media" style="margin-left: @margin%">
        <div class="media-left">
            /// TODO: user avatar here
        </div>

        <div class="media-body">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="author">@message.User.Login</div>
                    <div class="metadata">
                        <span class="date">/// TODO: message date here</span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="media-text text-justify">@message.Text</div>
                    <div class="pull-right">
                        <a class="btn btn-info reply-button" href="#addMessageForm" id="@message.Id">Ответить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    var children = new FreeForum.FreeForumEntities().Messages.Where(mes=>mes.ParentId==message.Id);
    foreach (var msg in children)
    {
        <span>@RenderMessages(msg, level + 1)</span>
    }
}

@helper RenderAddMessageForm(){
    var message = new FreeForum.FreeForumEntities().Messages.Find(Model.FirstMessageId);
    
    using (Html.BeginForm("Add", "Conversation", FormMethod.Post))
    {
        @Html.ValidationSummary(true)

        <input type="hidden" value="@message.Id" />

        <div class="editor-field">
            <textarea cols="120" rows="5" name="Text" id="Text" placeholder="Введите здесь свой комментарий"></textarea>
        </div>
      
        <p>
            <input type="submit" value="Отправить" />
        </p>
    }
}


<h2>@Model.Title</h2>

<fieldset>
    <legend>@Model.Title</legend>
    
    @RenderMessages(FreeForum.Models.DataBase.GetMessage(Model.FirstMessageId), 0)
    @RenderAddMessageForm()
</fieldset>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
